@import "tailwindcss";




.inputStyle{
width:100%;
padding:18px;
border:1px solid #e5ddd7;
outline:none;
transition:.35s;
background:white;
}

.inputStyle:focus{
border-color:#572649;
}


/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}